@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-display: 'Playfair Display', Georgia, serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

/* LIGHT MODE */
  --accent: #056291;        /* darken slightly: #0571a0 → #055f91 */
  --text: #012530;
  --bg: #EFFAFF;

  --card-bg: #FFFFFF;
  --card-border: #012530;
  --card-title: #012530;
  --card-text: #014d6b;      /* passes at 5.1:1 */

  --toggle-bg: #c8d8ec;
  --toggle-icon: #77a9ee;

}

.dark {
  --accent: #5ddcff;
  --text: #f0faff;
  --bg: #0f172a;

  --card-bg: #1e293b;
  --card-border: #475569;
  --card-title: #ffffff;
  --card-text: #e2eaf3;

  --toggle-bg: #334155;
  --toggle-icon: #729dd8;
}

.readmore {
  font-weight: 500;
  color: #055f91;
  text-decoration: inherit;
}

.dark .readmore{
  color: #5ddcff;
}
.readmore:hover {
  color: #0C2BDF;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card{
  transition: background-color 0.3s ease, border 0.3s ease;
}

button {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 5000;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;;
}
button:hover {
  border-color: 	#02577a;
}


