@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  --accent: #02577a;
  --text:#01303f;
  --bg:#EFFAFF;

  /*CARD COLORS*/
  --card-bg: #EFFAFF;
  --card-border:#01303f;
  --card-title: #01303f;
  --card-text: #02577a;
}

a {
  font-weight: 500;
  color:#0B14B2;
  text-decoration: inherit;
}
a:hover {
  color: #0C2BDF;
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

body {
    font-family: var(--font-body);
}


button {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 5000;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;;
}
button:hover {
  border-color: 	#02577a;
}


