@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-display: 'Playfair Display', Georgia, serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  --accent: #0688c0;
  --text:#01303f;
  --bg:#EFFAFF;

  /*CARD COLORS*/
  --card-bg: #FFFFFF;
  --card-border:#01303f;
  --card-title: #01303f;
  --card-text: #02577a;
  /*SWITCH COLORS*/
  --toggle-bg: #c8d8ec;        /* slate-200 */
  --toggle-icon: #77a9ee;      /* slate-500 */  

}

.dark{
  --accent: #3fd2ff;
  --text: #eaf6ff;
  --bg: #0f172a;        /* slate style */

  /*CARD COLORS*/
  --card-bg: #1e293b;   /* slate-800 vibe */
  --card-border: #334155;
  --card-title: #ffffff;
  --card-text: #cbd5e1;

  /*SWITCH COLORS*/
  --toggle-bg: #334155;        /* slate-700 */
  --toggle-icon: #729dd8;      /* slate-400 */

}

.readmore {
  font-weight: 500;
  color:#666df5;
  text-decoration: inherit;
}
.readmore:hover {
  color: #0C2BDF;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card{
  transition: background-color 0.3s ease, border 0.3s ease;
}

button {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 5000;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;;
}
button:hover {
  border-color: 	#02577a;
}


